.text-wrapper-3 {
  color: #000000;
  font-family: "Commissioner", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 24px;
  left: 26px;
  letter-spacing: -0.3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 339px;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.line-separation-4{
  height: 1px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 390px;
  width: 314px;
  opacity: 0.3;
}
.shift-up {
  transform: translateY(-30px); 
}
  
.password-field {
    margin: 10px 0;
  }
  
.hover-label {
    color: black;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 16px;
  }

#currentPassword {
  width: 150px;
  height: 20px
}
#newPassword {
  width: 150px;
  height: 20px;
}
  
.password-field label {
    opacity: 1;
  }
  
.success {
    color: green;
  }
  
.error {
    color: red;
  }


div {
  border: none;
  cursor: pointer;
}

