.text-wrapper-4 {
    color: #000000;
    font-family: "Commissioner", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 24px;
    left: 24px;
    letter-spacing: -0.3px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 135px;
    white-space: nowrap;
  }

  .line-separation-1 {
    height: 1px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 180px;
    width: 314px;
    opacity: 0.3;
  }



  