.text-wrapper-5 {
    color: #000000;
    font-family: "Commissioner", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 24px;
    left: 26px;
    letter-spacing: -0.3px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 202px;
    white-space: nowrap;
  }

  
  .line-separation-2 {
    height: 1px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 250px;
    width: 314px;
    opacity: 0.3;
  }
