.add-habit-card-button {
  position: absolute;
  bottom: 10rem;
  margin-left: 5%;
  width: 90%;
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 8px;
}

.add-habit-card-button img {
  cursor: pointer;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.add-habit-card-button input {
  flex-grow: 1;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  