.add-habit-card-button {
    background-color: #007bff; 
    color: #fff; /* Text color */
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-habit-card-button:hover {
    background-color: #0056b3; 
  }