.box {
    height: 41px;
    width: 300px;
  }
  
  .rectangle-eat-card {
    background-color: red;
    border-radius: 6px;
    height: 41px;
    position: relative;
    width: 300px;
  }
  
  .input-container {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-input {
    
    flex: 1; /* Allowing input field to expand and take remaining space */
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px; /* padding for creating space between input and checkbox */
  }
  
  .card-checkbox {
    width: auto; /* Adjust the checkbox width as needed */
  }