.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3.6rem;
}

.header-title {
  font-family: 'Commissioner', sans-serif;
  font-size: 3.6rem; /* Ruppert 0928: not 100% sure the size is perfect, as the Figma shows 36px – so this is just a starting point and will be adjusted as needed */
  color: #000000;
  align-self: flex-start;
  margin-left: 2.5rem;
}

.header-divider {
  width: 90%;
  border: 0;
  border-top: 1px solid rgba(63, 61, 57, 0.2);
  margin-top: 8%; /* Ruppert 0928: not 100% sure this is the right value, have to test it myself once I get to building the SignUp Screen next, where I will import the header */
}
