/* Style for the input card container */
.input-card {
  border: 0px none;

  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  margin: 35px 50px 10px auto;
}

/* Style for the header label */
.input-header-label {
  height: 27px;
  width: auto;
  color: #3f3d39;
  font-family: "Commissioner-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.33px;
  line-height: normal;
  margin-bottom: 1rem;
}

/* Style for the input field */
.input-header-input {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 6px;
  font-size: 16px;
}
