    /* Sign-in | Sign-up Button Component */

    .sign-button {
        margin-top: 65px;
        width: 45%;
        height: 50px;
        background-color: #3F3D39;
        color: #FFFFFF;
        border-radius: 4px;
        border: none;
        font-size: 1.5em; /* Adjust as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Comissioner-Regular', sans-serif;
      }
      
      .sign-button:hover,
      .sign-button:focus {
        background-color: #FFFFFF;
        color: #3F3D39;
        border: 1px solid #3F3D39;
        cursor: pointer;
      }