/* Styles for the overall Welcome Page */
.welcome-page {
  background: linear-gradient(
    180deg,
    rgb(236, 236, 234) 68.71%,
    rgb(255, 255, 255) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  height: 640px;
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%; /* Add padding for spacing */
}

/* LOGO */
.logo {
  margin-top: 5%;
  width: 40%;
  height: auto;
}

/* Styles for the content (inputs, button, and text) */
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

/* Styles for the header */


.sign-button {
  margin-top: 11%;
  width: 12.5%;
  height: 6%;
  background-color: #3f3d39;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 2rem; 
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Commissioner-Regular", sans-serif;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.sign-button:hover,
.sign-button:focus {
  background-color: #ffffff;
  color: #3f3d39;
  border: 1px solid #3f3d39;
  cursor: pointer;
}
